NODE_ENV=development
LOG_LEVEL=info
PORT=8080

POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234567890
POSTGRES_DB=automotive-marketplace
POSTGRES_PORT=5432

DATABASE_URL=postgres://postgres:1234567890@postgres:5432/automotive-marketplace

REDIS_URL=redis://redis:6379
REDIS_PORT=6379
